.anhbody {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
    width: 920;
    height: auto;
}

.slider {
    width: 960px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden; /* Added to hide overflowed slides */
}

.slides {
    width: 600%; /* Modified from 500% */
    height: 470px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%; /* Modified to make images responsive */
    height: 100%; /* Modified to make images responsive */
    object-fit: cover; /* Added to maintain aspect ratio */
}

.navigation-manual {
    position: absolute;
    width: 975px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 224.6px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin-top: -30px;
    margin-right: -750px;
    margin-bottom: 30px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}








.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 32%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: 1px solid black;
}
.carousel-button.prev{
    left: 0rem;
}
.carousel-button.next{
    right: 0rem;
}

.bannerSale{
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0;
}

.banner_warp{
    width: 924px;
    margin: auto;
}

.bannerSale_left{
    margin-top: 0%;
    float: left;
    margin-left: 35px ;
}

.bannerSale_right{
    margin-top: 0%; 
    float: right;
    margin-right: -310px;
}
